irreversibility_estimator/__pycache__/__init__.cpython-310.pyc
irreversibility_estimator/__pycache__/irreversibility_estimator.cpython-310.pyc
irreversibility_estimator.egg-info/dependency_links.txt
irreversibility_estimator.egg-info/PKG-INFO
irreversibility_estimator.egg-info/requires.txt
irreversibility_estimator.egg-info/SOURCES.txt
irreversibility_estimator.egg-info/top_level.txt
test.py
